@font-face {
    font-family: "Raleway Semi Bold";
    src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}